body{
margin: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
text-align: center;

}
h1{

  margin: 0;
  margin-bottom: .5rem;
  font-size: 10em;
}
.input{
    
  border: 1px solid #222222;
  border-radius: 10em;
  padding: 0.9em;
  width: 10em;
  font-size:larger ;
}

select{

  margin-left: 1rem;
  font-size: larger;
  padding:0.9em;
}

.equals {
 
  font-weight: bolder;
  font-size: 5rem;


}